@import 'reset.scss';

.app {

}

.steps {
    padding: 20px;
    background-color: #fff;

    .step-btn {
        padding: 10px 20px;
        height: 50px;
        font-size: 20px;
        border: none;
        border-radius: 6px;
        margin-right: 40px;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        outline: none;
        color: #4688f1;
        transition: all .4s ease;

        &:hover {
            box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        }
        &.active {
            color: #ffffff;
            background-color: #4688f1;
        }
    }
}

.content {
    font-size: 0;
    padding: 20px;
    margin-top: 20px;

    .p {
        display: inline-block;
        width: 400px;
        padding: 20px;
        margin-right: 26px;
        margin-bottom: 26px;
        border-radius: 4px;
        line-height: 26px;
        font-size: 14px;
        color: #666666;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
        transition: all .4s ease;

        &:hover {
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .06);
        }
    }
}

