$header-blue: #376ad3;
$header-active-blue: #4688f1;

.steps {
    padding: 10px 20px;
    background-color: #fff;

    .step-btn {
        padding: 8px 16px;
        height: 38px;
        font-size: 14px;
        border-radius: 6px;
        margin-right: 46px;
        color: #8590a6;
        background-color: transparent;
        transition: all .4s ease;

        &:hover {
            box-shadow: 0 1px 4px 3px rgba(0, 0, 0, 0.10), 0 0 0 1px rgba(0, 0, 0, 0.06);
        }
        &.active {
            color: #1e8ae8;
            font-weight: bold;
            background-color: rgba(255, 255, 255, .4);
        }
    }
}

.content {
    position: relative;
    width: 1200px;
    //column-width: 450px;
    //column-gap: 26px;
    font-size: 0;
    padding: 20px 20px 60px;
    margin-top: 20px;
    overflow: hidden;

    .line {
        display: inline-block;
        vertical-align: top;
        width: 540px;
    }
}

.menu {
    position: fixed;
    left: 0;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: #f3f3f3;
}
