@font-face {
    font-family: "OpenSans";
    src: url('../font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "sourceHanSansCN";
    src: url('../font/SourceHanSansCN-Light.otf');
}

$fontList: "OpenSans", "sourceHanSansCN", "Times New Roman", Helvetica, Arial,  Times, serif, sans-serif;

* {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    letter-spacing: 0.5px;
    transition: all .3s ease;
    font-family: $fontList;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #f3f3f3;
}

img {
    border: 0;
}

a {
    outline: none;
}

code, textarea {
    font-family: $fontList;
}
