@import "var";

* {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    letter-spacing: 0.5px;
    font-family: $fontList;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #282c34;
}

img {
    border: 0;
}

a {
    outline: none;
}

code, textarea {
    font-family: $fontList;
}
