* {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    transition: all .3s ease;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #f3f3f3;
}

img {
    border: 0;
}

a {
    outline: none;
}
