@import 'reset.scss';
@import "github.scss";
@import "animate.scss";

$header-blue: #376ad3;
$header-active-blue: #4688f1;

.app {
    font-size: 0;
    padding: 20px;
    text-align: left;
    
    h1 {
        font-size: 30px;
        line-height: 60px;
        margin-bottom: 10px;
        text-indent: 20px;
    }
    
    .earnings {
        height: 40px;
        font-size: 20px;
        color: #2e3a41;
        font-weight: bold;
        
        .money {
            color: #4c9f67;
        }
    }
    
    .status-list {
        
        .item {
            width: 400px;
            height: 20px;
            margin-right: 10px;
            margin-bottom: 16px;
            color: #000;
            font-size: 14px;
            
            .name {
                display: inline-block;
                width: 80px;
                text-align: center;
                line-height: 25px;
                font-size: 16px;
                vertical-align: top;
            }
            
            @keyframes progress {
                0% {
                    transform: skew(-20deg) translateX(-200px);
                }
                100% {
                    transform: skew(-20deg) translateX(0px);
                }
            }
            
            .progress {
                display: inline-block;
                position: relative;
                width: 200px;
                height: 25px;
                line-height: 25px;
                border-radius: 10px;
                background-color: #f3f3f5;
                overflow: hidden;
                vertical-align: top;
                
                .value {
                    position: relative;
                    height: 100%;
                    background-color: $header-active-blue;
                    text-align: center;
                    font-size: 14px;
                    color: #fff;
                    overflow: hidden;
                    
                    .stripes {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 400px;
                        height: 100%;
                        animation: progress 10s linear infinite;
                        
                        .stripe {
                            display: inline-block;
                            width: 10px;
                            margin-right: 12px;
                            height: 100%;
                            transform: skew(-20deg);
                            background-color: rgba(255, 255, 255, .15);
                        }
                    }
                }
                
                .number {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    line-height: 25px;
                    text-align: center;
                    font-size: 14px;
                    color: #fff;
                }
            }
        }
    }
    
    .todo-input {
        margin-top: 20px;
        font-size: 14px;
        
        .input {
            padding: 4px 10px;
            border-bottom: 1px solid $header-blue;
            font-size: 14px;
            background-color: transparent;
            
            &:focus {
                border-bottom-color: $header-active-blue;
            }
        }
        
        .submit-btn {
            display: block;
            padding: 4px 8px;
            margin-top: 10px;
            min-width: 70px;
            border-radius: 4px;
            font-size: 16px;
            color: #ffffff;
            font-weight: bold;
            letter-spacing: 4px;
            cursor: pointer;
            text-align: center;
            background-color: $header-blue;
            opacity: .4;
            
            &.on {
                opacity: 1;
            }
            
            &:hover {
                background-color: $header-active-blue;
            }
        }
    }
    
    .save-btn {
        position: fixed;
        right: 0;
        top: 0;
        display: block;
        padding: 4px 8px;
        margin-top: 10px;
        min-width: 70px;
        border-radius: 4px;
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 4px;
        cursor: pointer;
        text-align: center;
        background-color: $header-blue;
    
        &:hover {
            background-color: $header-active-blue;
        }
    }
    
    .tab-list {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        
        .tab {
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 16px;
            margin-right: 10px;
            color: #000;
            font-weight: bold;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid #ccc;
            user-select: none;
            transition: all .3s ease;
            
            &.on {
                color: #ffffff;
                background-color: $header-blue;
            }
        }
    }
    
    .todo-list {
        margin-top: 40px;
        height: 600px;
        background-color: #f3f3f5;
        
        .item {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 34px;
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 0 14px;
            line-height: 34px;
            border-radius: 4px;
            color: #000000;
            background-color: #ffffff;
            text-align: center;
            font-size: 14px;
            transition: all .3s ease;
            cursor: pointer;
            
            &.urgency {
                background-color: #cc2b29;
                color: #ffffff;
                
                .weight {
                    color: #f7bc00;
                }
            }
            
            &:not(.fade-leave-active):hover {
                color: #ffffff;
                background-color: #178bf7;
                transform: scale(1.1);
                
                .weight {
                    font-size: 18px;
                    font-weight: bold;
                    color: #fad759;
                }
            }
            
            .weight {
                margin-left: 8px;
                color: #4c9f67;
                transition: all .3s ease;
            }
        }
    }
}
