//$themeActiveColor: #a16a89;
//$themeActiveColor: #c679dd;
//$themeActiveColor: #f07178;
$themeActiveColor: #c41d7f;
//$themeActiveColor: #96a1a1;
//$themeActiveColor: rgb(229, 193, 112);
//$themeActiveColor: #8996a1;
$themeColor: #2c3e50;

$tryColor: rgb(229, 193, 112);

$authorTextColor: #8590a6;
$normalTextColor: #646464;
$commentColor: #8590a6;

$bgColor: #282c34;

$rightAreaWidth: 660px;

$errorColor: #f1403c;


